@using System.Security.Claims
@using Vinaday.Data.Models
@using Vinaday.Data.Models.Extention
@model ProductModel
@{
    ViewBag.Title = "Booking Payment | VINADAY GOREISE VN Co., Ltd";
    List<Vinaday.Data.Models.Nationality> nationalities = ViewBag.Nationalities;
    List<CancellationModel> cancellationPolicies = ViewBag.CancellationPolicies;
    var role = ((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault();
    Customer customer = ViewBag.Customer;
}
<div class="pd-nav"></div>
<div class="content stepbooking">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="step-payment">
                    <div class="icon-step">
                        <div class="box-step box-step1 active">
                            <span class="fa fa-shopping-cart"></span>

                            <p style="padding-left: 16px;">Giỏ hàng</p>

                        </div>
                        <div class="box-step box-step2">
                            <span class="fa fa-users"></span>

                            <p>Thông tin</p>

                        </div>
                        <div class="box-step box-step3">
                            <span style="padding-top:17px;text-indent: 19px;" class="fa fa-shield"></span>

                            <p>Thanh toán</p>

                        </div>
                    </div>
                </div>

                <section class="form checkout style-2">
                    <div class="row">
                        <div id="information">
                            <div class="col-md-8 " style="visibility: visible;">
                                <div class="check-out-header">
                                    <h2 class="title">Đặt phòng của bạn</h2>
                                </div>
                                <div class="box-aside payment-detail">
                                    <div class="payment-detail-content">
                                        <div class="payment-detail-title">
                                            @Model.Name<span class="star star_@(Model.Rating)"></span>
                                            <br />
                                            <span style="font-size: 15px; font-weight: normal; display: block">@Model.Location</span>
                                        </div>

                                        <div>
                                            <ul>
                                                <li><i class="fa fa-angle-double-right"></i><span class="bold">Package: </span>@Model.DetailName</li>
                                                <li><i class="fa fa-angle-double-right"></i><span class="bold">Ngày nhận phòng: </span>@Model.CheckIn.Date.ToString("MM/dd/yyyy")</li>
                                                <li><i class="fa fa-angle-double-right"></i><span class="bold">Ngày trả phòng: </span>@Model.CheckOut.Date.ToString("MM/dd/yyyy")</li>
                                                <li><i class="fa fa-angle-double-right"></i><span class="bold">Bao gồm: </span>@Model.Include</li>
                                                <li><i class="fa fa-angle-double-right"></i><span class="bold">Ở từ: </span>@Model.Stay</li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        @if (Model.Promotion != null)
                                        {
                                        <div class="helper" style="background-color: #fff4f4 !important; border-color: #ff006c; color: #ff006c; padding: 10px; font-weight: bold">
                                            <span style="float: left; height: 45px; margin-right: 10px; color: #ff006c; font-size: 20px" class="glyphicon glyphicon-gift"></span>
                                            <span>Chúc mừng bạn đã đặt được phòng @Html.Raw(Model.Promotion.Name) </span>
                                        </div>
                                        }
                                    </div>
                                </div>

                                @if (Model.CancellationPolicy != null)
                                {
                                    <div class="helper">
                                        <label style="margin: 0">Điều kiện hủy phòng</label>
                                        <br>
                                        @Html.Raw(Model.CancellationPolicy.DescriptionVn)
                                    </div>
                                }
                                else
                                {
                                    <a href="#collapse-cancellation" data-toggle="collapse" style="text-decoration: none;" class="clearfix">
                                        <div class="helper">
                                            Tin vui! Chúng tôi không tính phí huỷ phòng. <span style="font-weight: bold;text-decoration: underline">Vui lòng xem thêm Chính sách khách sạn <i class="fa fa-angle-double-down"></i></span>
                                        </div>
                                    </a>

                                    <div id="collapse-cancellation" class="panel-collapse collapse" style="height: auto;">

                                        <table class="table table-hover">
                                            <tbody>
                                                @if (cancellationPolicies.Count > 0)
                                                {
                                                    foreach (var cancellationPolicy in cancellationPolicies)
                                                    {
                                                        <tr>
                                                            <td>@cancellationPolicy.CheckInFrom.ToString("MMM/dd/yyyy") - @cancellationPolicy.CheckOutTo.ToString("MMM/dd/yyyy")</td>
                                                            <td>@cancellationPolicy.Description</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                }
                                <div id="pay-later">
                                    <div class="check-out-header">
                                        <h2 class="title pull-left" style="font-size: 17px">Nhập tất cả thông tin cần thiết</h2>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div>
                                        <div class="input-group tight">
                                            <span>
                                                <input type="radio" name="gender" style="height: 15px;box-shadow:none; padding: 10px;" placeholder="Gender" id="gender_male" value="Ông">
                                                <label for="gender_male"  style="font-weight: normal">
                                                    Ông
                                                </label>

                                                <input type="radio" name="gender" style="height: 15px; box-shadow: none; margin-left: 60px;" placeholder="Gender" id="gender_female" value="Bà">
                                                <label for="gender_female" style="font-weight: normal">
                                                    Bà
                                                </label>
                                            </span>
                                        </div><!-- .input-group -->
                                        <div class="input-group tight">
                                        </div><!-- .input-group -->
                                        <div class="input-group tight">
                                            <input type="hidden" id="productname" value="@Model.DetailName" />
                                            <input type="text" placeholder="Nhập Tên" class="lg" id="firt-name" value="@customer.Firstname">
                                        </div><!-- .input-group -->

                                        <div class="input-group tight">

                                            <input type="text" placeholder="Nhập Họ" class="lg" id="last-name" value="@customer.Lastname">
                                        </div><!-- .input-group -->

                                        <div class="input-group tight">

                                            <input type="text" placeholder="Nhập địa chỉ e-mail" class="lg" id="email" value="@customer.Email">
                                        </div><!-- .input-group -->

                                        <div class="input-group tight">

                                            <input type="text" placeholder="Nhập lại địa chỉ e-mail" class="lg" id="confirm-email" value="@customer.Email">
                                        </div><!-- .input-group -->

                                        <div class="input-group tight">

                                            <input type="number" placeholder="Nhập số điện thoại/ WhatsApp" class="lg" id="phone" value="@customer.PhoneNumber">
                                        </div><!-- .input-group -->

                                        <div class="input-group tight">

                                            <div class="select-style">
                                                <select name="country" class="lg" id="national">
                                                    <option value="Chọn quốc tịch">Chọn quốc tịch</option>
                                                    @if (nationalities != null && nationalities.Count > 0)
                                                    {
                                                        foreach (var nationality in nationalities.Where(nationality => nationality != null))
                                                        {
                                                            <option @(customer.NationalId == nationality.ID ? "selected" : "") value="@nationality.ID">@nationality.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div><!-- .input-group -->
                                    </div>
                                    <span class="input-group">
                                        <textarea placeholder="Điểm đón, thực phẩm ... " class="lg" id="special-request"></textarea>
                                    </span>
                                    <div class="input-group ">
                                        <div>
                                            <input type="checkbox" name="cb_book_other_person" onchange="cbShowHideControl(this)" style="height: 12px; box-shadow: none; padding: 10px;" placeholder="Gender" id="cb_book_other_person"  value="true">
                                            <label for="cb_book_other_person">
                                               Đặt giúp người khác
                                            </label>
                                        </div>
                                        <div style="display:none" class="other_gender">
                                            <span>
                                                <input type="radio" name="gender_other_person" style="height: 15px; box-shadow: none; padding: 10px;" placeholder="Gender" id="gender_other_person" value="Ông">
                                                <label for="gender_other_person_male" style="font-weight: normal">
                                                    Ông
                                                </label>

                                                <input type="radio" name="gender_other_person" style="height: 15px; box-shadow: none; margin-left: 60px;" placeholder="Gender" id="gender_other_person_female" value="Bà">
                                                <label for="gender_other_person_female"  style="font-weight: normal">
                                                    Bà
                                                </label>
                                            </span>
                                        </div>
                                        <div style="display:none" class="other_gender">
                                            <div class="input-group tight">
                                                <input type="text" placeholder="Họ" class="lg" id="firt_name_other_person">
                                            </div>
                                            <div class="input-group tight">
                                                <input type="text" placeholder="Tên" class="lg" id="last_name_other_person">
                                            </div>
                                        </div>
                                    </div><!-- .input-group -->
                                    <div class="input-group ">
                                        <div>
                                            <input type="checkbox" name="cb_gift_voucher" onchange="cbCreateGiftVoucher(this)" style="height: 12px; box-shadow: none; padding: 10px;" id="cb_gift_voucher" value="true">
                                            <label for="cb_gift_voucher">
                                                Mua làm quà tặng
                                            </label>
                                        </div>
                                        <div style="display:none" class="gift_voucher">
                                            <div class="input-group tight">
                                                <select name="gift_type" id="gift_type" class="lg">
                                                    <option value="Tất cả">Tất cả </option>
                                                    <option value="Sinh nhật">Sinh nhật </option>
                                                    <option value="Đám cưới">Đám cưới</option>
                                                    <option value="Cám ơn">Cám ơn</option>
                                                    <option value="Div">Div.</option>
                                                    <option value="Giáng Sinh">Giáng sinh</option>
                                                    <option value="Lê">Lễ</option>
                                                </select>
                                            </div>
                                            <div class="input-group tight">
                                            </div>
                                            <div class="input-group ">
                                                <textarea placeholder="Tin nhắn cá nhân" class="lg" id="personal_message"></textarea>    
                                            </div>
                                            
                                        </div>
                                    </div><!-- .input-group -->
                                    <div class="input-group tight">
                                    </div><!-- .input-group -->

                                    <div id="information-price" class="row">
                                        <div class="col-md-12 ">
                                            <div id="accordion" class="panel-group ">
                                                <div class="panel panel-default" style="padding: 10px; font-size: 16px;background-color: lightgray;">
                                                    @if (Model.Details.Count > 0)
                                                    {
                                                        foreach (var detail in Model.Details)
                                                        {
                                                            <div class="panel-body">
                                                                <span class="pull-left">@detail.Quantity Phòng (@(detail.Quantity * 2) Người lớn) </span> 
                                                                <strong class="pull-right">@(detail.PriceRoom > 0 ? detail.PriceRoom.ToString("#,###.##") : "0")<sup>đ</sup></strong>
                                                            </div>
                                                        }
                                                    }
                                                    @if (Model.TotalSurcharge > 0)
                                                    {
                                                        <div class="panel-body">
                                                            <span class="pull-left">Surcharge fees</span>
                                                            <strong class="pull-right">@(Model.TotalSurcharge > 0 ? Model.TotalSurcharge.ToString("#,###.##") : "0")<sup>đ</sup> </strong>
                                                        </div>
                                                    }
                                                    <hr />
                                                    <div class="panel-body" >
                                                        <span class="pull-left">Tổng Cộng</span>
                                                        <strong class="pull-right">@(Model.FinalPrice > 0 ? Model.FinalPrice.ToString("#,###.##") : "0")<sup>đ</sup> </strong>
                                                        <input type="hidden" id="totalAmount" value="@Model.FinalPrice.ToString("#,###.##")00" />
                                                        <br />
                                                        <p style="font-size:13px "><span >Giá bao gồm </span>@Model.Include</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="check-out-header">
                                        <h2 class="title" style="font-size: 17px">Chọn hình thức thanh toán</h2>
                                    </div>
                                    <div id="paymentType">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="1" id="paymentVISA" name="paymentType">
                                                <img src="~/Content/images/demo/general/card.jpg" alt="visa card" title="visa card" class="visa-card">
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="2" id="paymentPayLater" checked name="paymentType">
                                                Trả sau
                                            </label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled="" checked="" id="accept-terms">
                                            <a href="http://goreise.com/websites-rules" target="_blank">
                                                Tôi chấp nhận Điều kiện và các điều khoản kinh doanh của VGG
                                            </a>
                                        </label>
                                    </div>
                                    <span class="input-group">
                                        <a onclick="proceedPaymentPackage(true);" class="yellow_roundbtn pull-right" id="proceed">Đặt phòng &amp; Trả sau!</a>
                                    </span>
                                </div>
                                <div id="pay-credit-card" style="display: none">
                                    <div class="check-out-header">

                                        <h2 class="title" style="font-size: 17px">Chi tiết thanh toá</h2>
                                    </div>
                                    <div>
                                        <div class="input-group tight">

                                            <div class="select-style">
                                                <select class="lg" id="card-holder-payment-method">
                                                    <option value="0">Nhấp chọn danh mục</option>
                                                    <option value="Visa">Visa</option>
                                                    <option value="MasterCard">MasterCard</option>
                                                    <option value="Amex">American Express</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group tight">

                                        </div>
                                        <div class="input-group tight">

                                            <input type="text" placeholder="Tên trên thẻ" class="lg" id="card-holder-firt-name">
                                        </div>

                                        <div class="input-group tight">

                                            <input type="text" placeholder="Họ trên thẻ" class="lg" id="card-holder-last-name">
                                        </div>

                                        <div class="input-group tight">

                                            <input type="text" placeholder="Số thẻ" class="lg" id="card-holder-card-number">
                                        </div>

                                        <div class="input-group tight">
                                            <div class="col-md-4 col-xs-6">
                                                <input type="text" placeholder="CVV" id="card-holder-cvv" maxlength="500" class="lg" style="margin-left: -15px!important">
                                            </div>
                                            <div class="col-md-4 col-xs-3">
                                                <div class="select-style" style=" margin-left -30px;margin-right 0px;">
                                                    <select title="Exp Month" class="lg" id="card-holder-exp-month">
                                                        <option selected="selected" value="0">Tháng</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-3">
                                                <div class="select-style" style=" margin-left -15px;margin-right -15px;">
                                                    <select title="Exp Year" class="lg" id="card-holder-exp-year">
                                                        <option selected="selected" value="0">Năm</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                        <option value="2030">2030</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group tight" style="width: 100%">
                                            <input type="text" placeholder="Địa chỉ" class="lg" id="card-holder-address">
                                        </div>
                                    </div>
                                    <span class="input-group">
                                        <a onclick="showPayLater();" class="pull-left" style="color: #58738a;cursor: pointer"> « Trở về trang trước</a>
                                        <a onclick="proceedPaymentPackageCreditCard();" class="yellow_roundbtn pull-right">Mua &amp; Thanh toán !</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="information-price1">
                            <div id="accordion1" class="panel-group box-right-top">
                            </div>
                            <div class="col-md-4 " style="right: 0;">
                                <div class="panel panel-default" style="padding: 6px;">
                                    <a href="mailto:cs@vinaday.com" style="color: black">✉️ cs@vinaday.com</a> <br />
                                    <a href="tel:842838388382" style="color: black">📞 +84 916388382</a><br />
                                    <a href="tel:84916388382" style="color: black">💬 (+84)916388382</a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function cbShowHideControl(ctl) {
            if (ctl.checked) {
                $(".other_gender").show();
            } else {
                $(".other_gender").hide();
            }
        }
        function cbCreateGiftVoucher(ctl) {
            if (ctl.checked) {
                $(".gift_voucher").show();
            } else {
                $(".gift_voucher").hide();
            }
        }
        
    </script>
    @Scripts.Render("~/bundles/payment")
}