@using Vinaday.Data.Models
@using Vinaday.Data.Models.Extention
@model BookingModel
@{
    ViewBag.Title = "vinaday.vn - Thanh toán";
    Layout = "~/Views/Shared/_LayoutVn.cshtml";
    List<Nationality> nationalities = ViewBag.Nationalities;
    CancellationPolicy cancellation = ViewBag.Cancellation;
    decimal price = 0;
    decimal surcharge = 0;
    decimal promotion = 0;
    var imageUrl = (Model != null && Model.Image != null ? string.Format(Url.Content(string.Format("https://admin.goreise.com{0}", Url.Content(Model.Image.OriginalPath ?? "/Content/Images/no-image.jpg")))) : "/Content/Images/no-image.jpg");
}
<div class="pd-nav"></div>
<div class="content stepbooking">
    <div class="container">
        <div class="row">

            @if (Model != null)
            {
                if (Model.Product != null)
                {
                    var @decimal = Model.Rate.RetailRate + (Model.Rate.RetailRate * 15 / 100);
                    price = @decimal != null ? Math.Round((decimal)@decimal, 2) : 0;
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="step-payment">
                            <div class="icon-step">
                                <div class="box-step box-step1 active">
                                    <span class="fa fa-shopping-cart"></span>
                                    <p style="padding-left: 16px;">Giỏ hàng</p>
                                </div>
                                <div class="box-step box-step2">
                                    <span class="fa fa-users"></span>
                                    <p>Thông tin</p>
                                </div>
                                <div class="box-step box-step3">
                                    <span style="padding-top:17px;text-indent: 19px;" class="fa fa-shield"></span>
                                    <p>Thanh toán</p>
                                </div>
                            </div>
                        </div>

                        <section class=" form checkout style-2">
                            <div class="row">
                                <div id="information-price">
                                    <div class="col-md-4 col-md-push-8 anim fadeInRight">
                                        <div id="accordion" class="panel-group box-right-top">
                                            <a style="display: none;" href="#">Bạn đã có tài khoản chưa? Đăng nhập <span>›</span></a>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" style="text-decoration: none;" class="clearfix">
                                                            @if (Model.Children > 0)
                                                            {
                                                                <span class="pull-left">Giá</span><strong class="pull-right" id="price_top">
                                                                    @((Math.Round((price * Model.Rate.PersonNo) ?? 0, 2) + Math.Round((Model.Children * price * 3 / 4), 2)).ToString("##,###").Replace(",", ".")) <sup>đ</sup>
                                                                </strong>
                                                            }
                                                            else
                                                            {
                                                                <span class="pull-left">Giá</span><strong class="pull-right" id="price_top">@(Math.Round((price * Model.Rate.PersonNo) ?? 0, 2).ToString("##,###").Replace(",", ".")) <sup>đ</sup></strong>
                                                            }

                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                                                    <div class="panel-body">
                                                        <div style="padding:8px;">
                                                            <input type="hidden" id="price" value="@price" />
                                                            <input type="hidden" id="numberChild" value="@Model.Children" />
                                                            <input type="hidden" id="numberAdult" value="@Model.Rate.PersonNo" />
                                                            <input type="hidden" id="discountCouponValue" value="" />
                                                            <span id="lblPromotionCode">Bạn có mã khuyến mãi?</span>


                                                            <a href="#" id="btnAddPromotion" onclick="return addPromotion()">Thêm</a>
                                                            <a href="#" id="btnCancelPromotion" style="display:none" onclick="return cancelPromotion()">Hủy</a>
                                                            <a href="#" id="btnRemovePromotion" style="display:none" onclick="return removePromotion()">Bỏ</a>
                                                            <div id="inputPromotion" style="display:none">
                                                                <input id="promotionCode" value="" />
                                                            </div>

                                                            <a href="#" id="btnApplyPromotion" style="display:none" onclick="return applyPromotion()">Áp dụng</a>
                                                        </div>
                                                        <table class="table table-hover" style="margin-bottom: 0;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Số lượng</th>
                                                                    <th>Giá</th>
                                                                    <th style="text-align:right">Tổng cộng</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span style="float: left">Người lớn @Model.Rate.PersonNo</span> <span style="float: right">x</span></td>
                                                                    <td>@(Math.Round(price, 2).ToString("##,###").Replace(",", ".")) <sup>đ</sup></td>
                                                                    <td style="text-align:right">@(Math.Round((price * Model.Rate.PersonNo) ?? 0, 2).ToString("##,###").Replace(",", ".")) <sup>đ</sup></td>
                                                                </tr>
                                                                @if (Model.Children > 0)
                                                                {
                                                                    <tr>
                                                                        <td><span style="float: left">Trẻ em @Model.Children</span> <span style="float: right">x</span></td>
                                                                        <td>@(Math.Round((price * 3 / 4), 2).ToString("##,###").Replace(",", ".")) <sup>đ</sup></td>
                                                                        <td style="text-align:right">@(Math.Round((Model.Children * price * 3 / 4), 2).ToString("##,###").Replace(",", ".")) <sup>đ</sup></td>
                                                                    </tr>
                                                                }
                                                                <tr id="promotionRow" style="display:none">
                                                                    <td colspan="2"><span style="float: left">Giảm giá </span></td>
                                                                    <td style="text-align:right"><span id="discountValue"></span><sup>đ</sup> </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="price-final">
                                            <h4 class="panel-title clearfix">
                                                <span class="pull-left">Tổng cộng</span>
                                                @if (Model.Children > 0)
                                                {
                                                    <strong class="pull-right">
                                                        <span id="price_footer">
                                                            @((Math.Round(price + surcharge - promotion, 2) * (decimal)Model.Rate.PersonNo + Math.Round((Model.Children * price * 3 / 4), 2)).ToString("##,###").Replace(",", "."))
                                                        </span>
                                                        <sup>đ</sup>
                                                    </strong>
                                                }
                                                else
                                                {
                                                    <strong class="pull-right">
                                                        <span id="price_footer">
                                                            @((Math.Round(Math.Round(price + surcharge - promotion, 2) * (decimal)Model.Rate.PersonNo)).ToString("##,###").Replace(",", "."))
                                                        </span>
                                                        <sup>đ</sup>
                                                    </strong>
                                                }


                                            </h4>
                                            <p>(Giá đã bao gồm các loại thuế và Phí dịch vụ)</p>
                                        </div>
                                        <div class="panel panel-default" style="padding: 6px;">
                                            <a href="mailto:cs@vinaday.com">✉️ cs@vinaday.com</a> <br />
                                            <a href="tel:842838388382">📞 +84 916388382</a><br />
                                            <a href="tel:84916388382">💬 (+84)916388382</a><br />
                                        </div>
                                    </div>
                                </div>
                                <div id="loading-bar" style="border: none; display: none; margin-top: 50px; padding-left: 48%;" class="box-aside">
                                    <div class="contener_general">
                                        <div class="contener_mixte">
                                            <div class="ballcolor ball_1">&nbsp;</div>
                                        </div>
                                        <div class="contener_mixte">
                                            <div class="ballcolor ball_2">&nbsp;</div>
                                        </div>
                                        <div class="contener_mixte">
                                            <div class="ballcolor ball_3">&nbsp;</div>
                                        </div>
                                        <div class="contener_mixte">
                                            <div class="ballcolor ball_4">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                                <div id="information">
                                    <div class="col-md-8 col-md-pull-4 anim fadeInLeft" style="visibility: visible;">
                                        <div class="check-out-header">
                                            <h2 class="title">Đặt phòng của bạn</h2>
                                        </div>
                                        <div class="box-aside payment-detail">
                                            <div class="payment-detail-content">
                                                <div class="payment-detail-title"> @Model.Product.Name</div>
                                                <div class="image">
                                                    <img alt="" src="@Url.Content(imageUrl)">
                                                </div>
                                                <div class="payment-detail-content-info">
                                                    <ul>
                                                        <li><i class="fa fa-angle-double-right"></i><span class="bold">Vị trí: </span>@Model.Product.Location</li>
                                                        <li><i class="fa fa-angle-double-right"></i><span class="bold">Ngày đi: </span>@Model.Product.Start</li>
                                                        <li><i class="fa fa-angle-double-right"></i><span class="bold">Thời gian: </span>@Model.Product.Duration</li>
                                                        @if (Model.Product.IncludeActivity != string.Empty)
                                                        {
                                                            <li><i class="fa fa-angle-double-right"></i><span class="bold">Phụ thu: </span>@Model.Product.IncludeActivity </li>
                                                        }
                                                        @if (Model.Product.ExcludeActivity != string.Empty)
                                                        {
                                                            <li><i class="fa fa-angle-double-right"></i><span class="bold">Bao gồm: </span>@Model.Product.ExcludeActivity </li>
                                                        }

                                                    </ul>

                                                </div>
                                                <div class="clear"></div>
                                                @if (Model.Promotion != null)
                                                {
                                                    <div style="background-color: #fff4f4 !important; border-color: #ff006c; color: #ff006c; padding: 10px; font-weight: bold" class="helper">
                                                        <span class="glyphicon glyphicon-gift" style="float: left; height: 45px; margin-right: 10px; color: #ff006c; font-size: 20px"></span>
                                                        <span>Chúc mừng bạn nhận được giảm giá: Nhận được @Math.Round(promotion, 2) cho từng người! <sup>đ</sup> </span>
                                                    </div>
                                                }

                                            </div>
                                        </div>

                                        <div class="helper">
                                            <label style="margin: 0">Chính sách hủy</label>
                                            <br>
                                            @Html.Raw(cancellation != null ? cancellation.Description : string.Empty)
                                        </div>

                                        <div id="pay-later">
                                            <div class="check-out-header">
                                                <h2 class="title" style="font-size: 17px">Thông tin</h2>
                                            </div>
                                            <div>
                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Tên" class="lg" id="firt-name">
                                                </span><!-- .input-group -->

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Họ" class="lg" id="last-name">
                                                </span><!-- .input-group -->

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Địa chỉ Email" class="lg" id="email">
                                                </span><!-- .input-group -->

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Nhập lại địa chỉ Email" class="lg" id="confirm-email">
                                                </span><!-- .input-group -->

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Điện thoại" class="lg" id="phone">
                                                </span><!-- .input-group -->

                                                <span class="input-group tight">

                                                    <div class="select-style">
                                                        <select name="country" class="lg" id="national">
                                                            @if (nationalities != null && nationalities.Count > 0)
                                                            {
                                                                foreach (var nationality in nationalities.Where(nationality => nationality != null))
                                                                {
                                                                    <option value="@nationality.ID">@nationality.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </span><!-- .input-group -->
                                            </div>
                                            <span class="input-group">
                                                <textarea placeholder="Yêu cầu đặc biệt?" class="lg" id="special-request"></textarea>
                                            </span>
                                            <div class="check-out-header">
                                                <h2 class="title" style="font-size: 17px">Chọn hình thức thanh toán</h2>
                                            </div>
                                            <div id="paymentType">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="1" id="paymentVISA" name="paymentType">
                                                        <img src="~/Content/images/demo/general/card.jpg" alt="visa card" title="visa card" class="visa-card">
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="2" id="paymentPayLater" checked name="paymentType">
                                                        Trả sau
                                                    </label>
                                                </div>
                                            </div>

                                            <div style="border-top: 1px solid #6ebff3" class="payment-info-item">
                                                <p class="pull-right  bold" style="font-size:24px;">
                                                    <span style="font-size: 13px; font-weight: bold">Total price: </span>
                                                    <span id="totalPrice">
                                                        @if (Model.Children > 0)
                                                        {
                                                            @(((Math.Round(price + surcharge - promotion, 2) * (decimal)Model.Rate.PersonNo) + Math.Round((Model.Children * price / 2), 2)).ToString("##,###").Replace(",", "."))
                                                        }
                                                        else
                                                        {
                                                            @((Math.Round(price + surcharge - promotion, 2) * (decimal)Model.Rate.PersonNo).ToString("##,###").Replace(",", "."))
                                                        }
                                                    </span>
                                                    <sup>đ</sup>

                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="send-notification">
                                                    Gửi cho tôi những giảm giá đặc biệt mới nhất của VINADAY, chương trình khuyến mãi, ở miễn phí, nâng cấp thành viện miễn phí!
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" disabled="" checked="" id="accept-terms">
                                                    <a href="http://vinaday.com/websites-rules" target="_new">Tôi chấp nhận Điều kiện và các điều khoản kinh doanh của VINADAY.</a>
                                                </label>
                                            </div>
                                            <span class="input-group">
                                                <a onclick="proceedPaymentV();" class="yellow_roundbtn pull-right" id="proceed">Trả sau!</a>
                                            </span>
                                        </div>
                                        <div id="pay-credit-card" style="display: none">
                                            <div class="check-out-header">

                                                <h2 class="title" style="font-size: 17px">Hình thức thanh toán</h2>
                                            </div>
                                            <div>
                                                <span class="input-group tight">

                                                    <div class="select-style">
                                                        <select class="lg" id="card-holder-payment-method">
                                                            <option value="0">Lựa chọn</option>
                                                            <option value="Visa">Visa</option>
                                                            <option value="MasterCard">MasterCard</option>
                                                            <option value="Amex">American Express</option>
                                                        </select>
                                                    </div>
                                                </span>
                                                <span class="input-group tight">

                                                </span>
                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Cardholder First Name" class="lg" id="card-holder-firt-name">
                                                </span>

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Cardholder Last Name" class="lg" id="card-holder-last-name">
                                                </span>

                                                <span class="input-group tight">

                                                    <input type="text" placeholder="Credit Card Number" class="lg" id="card-holder-card-number">
                                                </span>

                                                <span class="input-group tight">
                                                    <div class="col-md-4 col-xs-6">
                                                        <input type="text" placeholder="CVV" id="card-holder-cvv" maxlength="500" class="lg" style="margin-left: -15px !important">
                                                    </div>
                                                    <div class="col-md-4 col-xs-3">
                                                        <div class="select-style" style="margin-left: -30px; margin-right: 0px;">
                                                            <select title="Exp Month" class="lg" id="card-holder-exp-month">
                                                                <option selected="selected" value="0">Month</option>
                                                                <option value="1">01</option>
                                                                <option value="2">02</option>
                                                                <option value="3">03</option>
                                                                <option value="4">04</option>
                                                                <option value="5">05</option>
                                                                <option value="6">06</option>
                                                                <option value="7">07</option>
                                                                <option value="8">08</option>
                                                                <option value="9">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-3">
                                                        <div class="select-style" style="margin-left: -15px; margin-right: -15px;">
                                                            <select title="Exp Year" class="lg" id="card-holder-exp-year">
                                                                <option selected="selected" value="0">Year</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                                <option value="2026">2026</option>
                                                                <option value="2027">2027</option>
                                                                <option value="2028">2028</option>
                                                                <option value="2029">2029</option>
                                                                <option value="2030">2030</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </span>
                                                <span class="input-group tight" style="width: 100%">
                                                    <input type="text" placeholder="Cardholder Address" class="lg" id="card-holder-address">
                                                </span>
                                            </div>
                                            <span class="input-group">
                                                <a onclick="showPayLater();" class="pull-left" style="color: #58738a; cursor: pointer"> « Trở lai</a>
                                                <a onclick="proceedPaymentCreditCard();" class="yellow_roundbtn pull-right">Đặt ngay!</a>
                                            </span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                }
            }

        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/app/payment-tour.js")"></script>
}