@using Vinaday.Data.Models
@using Vinaday.Data.Models.Extention
@model HotelModel
@{
    //Layout = "~/Views/Shared/_HotelLayout.cshtml";
    ViewBag.Title = Model.SeoTitle;
    List<RateExchange> exchanges = ViewBag.Exchanges;
    var checkInSession = ViewBag.CheckIn;
    var checkOutSession = ViewBag.CheckOut;
    ReviewModel review = ViewBag.Reviews;
}
<link href="~/Content/search.css" rel="stylesheet" />
<input type="hidden" id="hotel-id" value="@Model.Id" />
<input type="hidden" id="city-id" value="@Model.CityId" />
<input type="hidden" id="hotel-name" value="@Model.Name" />
<input type="hidden" id="hotel-lon" value="@Model.Longtitude" />
<input type="hidden" id="hotel-lat" value="@Model.Latitude" />
<input type="hidden" id="hotel-address" value="@Model.Address" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/library/blueimp-gallery.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/library/blueimp-gallery-indicator.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/library/blueimp-gallery-video.css")">
<div style="width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 10px">
    <div class="container">

        <div class="subpage">
            <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">

                <span typeof="v:Breadcrumb">
                    <a property="v:title" rel="v:url" href="https://goreise.com">
                        <i class="fa fa-angle-double-left"></i> Back to results
                    </a>
                </span>

                <span class="hidden-xs">
                    - @Model.City
                </span>
                <span class="pull-right">
                    <a style="color: #333" href="tel:84-28-38 388 382">Book online or call (84-28) -38 388 382</a>

                </span>
            </article>
        </div>
    </div>
</div>
<div class="hotel-detail-map" style="padding-bottom: 10px;  height: 120px;">
    <div id="map" style="width: 100%; height: 140px;"></div>
</div>
<!-- The container for the list of example images -->
<div class="containerGallery" style="padding-top: 30px;">
    @if (Model.Images.Count > 0)
    {
        foreach (HotelImages image in Model.Images.Take(6))
        {
            <a href="@(!string.IsNullOrEmpty(image.ImageThumbnail) ? "https://admin.goreise.com" + @Url.Content(string.Format("{0}-original.jpg", image.ImageThumbnail)) : "/Content/images/demo/general/no-image.jpg")" title="@image.ImageName" alt="@image.ImageName" data-gallery="">
                <img class="three-columns hotelGallery" style="padding: 4px;" width="960" height="960" src="@(!string.IsNullOrEmpty(image.ImageThumbnail) ? "https://admin.goreise.com" + @Url.Content(string.Format("{0}-original.jpg", image.ImageThumbnail)) : "/Content/images/demo/general/no-image.jpg")">
            </a>
        }
    }
</div>
<div class="clear">

</div>
<section class="content">
    <div class="detail">
        <div class="container">
            <div style="margin-bottom: 10px;" class="info-content">
                <h1 itemprop="name" style="color: #00355f;font-size: 35px;font-weight: 600;">@Model.Name <span class="star star_@(Model.Star)"></span></h1>
                <div style="clear:both;">
                    @if (Model.TheCollections.Count > 0)
                    {
                        foreach (var theCollection in Model.TheCollections)
                        {
                            <span style="margin-right: 5px;"><i class="fa fa-check"></i> @theCollection.Description</span>
                        }

                    }
                </div>
                <address itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                    <i class="fa fa-map-marker"></i>
                    <span itemprop="streetAddress">@Model.Address </span>
                </address>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="book-now" class="mg-section showroom">
                        <div class="subtitle clearfix">
                            <h2 style="line-height: 24px; width: 70%; margin-left: -15px; text-transform: uppercase">Choose your room </h2>
                            <div class="select-style pull-right" style="background-image: none">
                                <select id="rate-exchange" style="border: none !important">
                                    @if (exchanges.Count > 0)
                                    {
                                        foreach (var exchange in exchanges)
                                        {
                                            <option value="@exchange.Id" @(@exchange.Id == 1 ? "selected" : "")>@exchange.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <!--subtitle-->
                        <div class="showroom-content clearfix contentLightBox">
                            <div class="checkrate">

                                <div class="subsearch clearfix input-daterange">
                                    <div class="form-group has-feedback">
                                        <label class="control-label" for="check-in">Check in</label>
                                        <input name="start" readonly type="text" class="form-control date-time" id="check-in" placeholder="mm/dd/yyyy" value="@(checkInSession != null ? checkInSession.ToString("MM/dd/yyyy") : string.Empty)">
                                        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label" for="check-out">Check out</label>
                                        <input name="end" readonly type="text" class="form-control date-time" id="check-out" placeholder="mm/dd/yyyy" value="@(checkOutSession != null ? checkOutSession.ToString("MM/dd/yyyy") : string.Empty)">
                                        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group update-search">
                                        <button onclick="checkRates();" class="btn btn-sm btn-primary icon anim fadeIn animated"><i class="fa fa-long-arrow-right"></i>Update</button>
                                    </div>
                                    <div class="form-group update-search pull-right" id="book-request" style="display: none;">
                                        <a style="background: #a3238e none repeat scroll 0 0" href="javascript:void(0)" title="Inquire Now" onclick="fillRequestFrom('')" class="btn btn-sm btn-primary icon fadeIn animated animated book-request">Inquire Now</a>
                                    </div>
                                </div>
                                <!--subsearch-->
                            </div>
                            <!--checkrate-->
                            <div class="room-header clearfix hidden-xs">
                                <div class="room-type-header"> Room Types </div>
                                <!--room-type-header-->
                                <div class="room-info-header"> Room Information </div>
                                <!--room-info-header-->
                                <div class="room-max-header"> Max </div>
                                <!--room-max-header-->
                                <div class="room-rate-header tooltip-style">
                                    Avg rate per night<a href="javascript:void(0)" data-toggle="tooltip" data-original-title="The rate offered is the lowest one in the staying period"> (?)</a>
                                </div>
                                <!--room-rate-header-->
                                <div class="room-number-header"> No. Rooms </div>
                                <!--room-number-header-->
                                <div class="room-book-header"> &nbsp; </div>
                                <!--room-book-header-->
                                <div class="vertical-separator vertical-separator-first"></div>
                                <div class="vertical-separator vertical-separator-second"></div>
                                <div class="vertical-separator vertical-separator-third "></div>
                                <div class="vertical-separator vertical-separator-fourth "></div>
                                <div class="vertical-separator vertical-separator-fifth "></div>
                                <!--separator-->
                            </div>
                            <!--room-header-->
                            <div class="room-content clearfix">

                            </div>
                            <!--room-content-->
                        </div>
                        <p style="float: right; font-size: 13px; color: #55b455; padding: 5px;">Not included in room price: Service charges 5%, Hotel tax 10%</p>
                        <!--showroom-content-->
                    </div>
                    <!--showroom-->
                    <div id="facilities" class="mg-section clearfix">
                        <div class="feature-hotel-content">
                            <div class="anim fadeInRight">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 style="font-size: 20px;">Hotel Amenities</h2>
                                        <article>
                                            @if (Model.Facilities.Count > 0)
                                                {

                                                <p class="info-title">
                                                    Hotel Amenities
                                                </p>
                                                <div class="row" style="list-style: inside">
                                                    @foreach (var facilitie in Model.Facilities)
                                                                    {
                                                                    <li class="col-xs-4">@facilitie.Name</li>
                                                                    }
                                                </div>
                                                <div class="clearfix"></div>

                                                }

                                            <!--feature-box-->
                                            @if (Model.SportRecreations.Count > 0)
                                                {

                                                <p class="info-title">
                                                    Sports and Recreation
                                                </p>
                                                <div class="row" style="list-style: inside">
                                                    @foreach (var sport in Model.SportRecreations)
                                                                    {
                                                                    <li style="text-transform: capitalize" class="col-xs-4">@sport.Name</li>
                                                                    }
                                                </div>
                                                <div class="clearfix"></div>
                                                }


                                            @if (Model.IsWifi)
                                                {
                                                <p>Internet Available in all rooms: Free WiFi</p>
                                                <div class="clearfix"></div>
                                                }
                                            @if (Model.ParkingAvailable)
                                                {
                                                <p>Car Park</p>
                                                <div class="clearfix"></div>
                                                }

                                            @if (Model.Tip != null)
                                                {
                                                    if (!string.IsNullOrEmpty(Model.Tip.Tip1))
                                                    {
                                                <p class="info-title">
                                                    Where to go
                                                </p>
                                                <p>
                                                    @Html.Raw(Model.Tip.Tip1)
                                                </p>
                                                <div class="clearfix"></div>
                                                    }
                                                    if (!string.IsNullOrEmpty(Model.Tip.Tip2))
                                                    {
                                                <p class="info-title">
                                                    Where to Eat
                                                </p>
                                                <p>
                                                    @Html.Raw(Model.Tip.Tip2)
                                                </p>
                                                <div class="clearfix"></div>
                                                    }
                                                    if (!string.IsNullOrEmpty(Model.Tip.Tip3))
                                                    {
                                                <p class="info-title">
                                                    Other Service
                                                </p>
                                                <p>
                                                    @Html.Raw(Model.Tip.Tip3)
                                                </p>
                                                <div class="clearfix"></div>
                                                    }
                                                }
                                        </article>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 style="font-size: 20px;">Hotel Policies</h2>
                                        <article>
                                            @if (!string.IsNullOrEmpty(Model.EarliestCheckIn))
                                            {
                                                <p>
                                                    Check-in time at @Model.EarliestCheckIn
                                                </p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.CheckOut))
                                            {
                                                <p>
                                                    Check-out time at @Model.CheckOut
                                                </p>
                                            }
                                            <div class="clearfix"></div>
                                            <div id="cancellation"></div>
                                            <div class="clearfix"></div>
                                            <a href="http://vinadaytravel.com" target="_blank"><img style="width:100%; margin-top:20px;" src="~/Content/images/cashback.png"></a>
                                        </article>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 style="color: #6b6b6b; font-size: 20px; margin-left: 15px; margin-right: 15px;">
                                            @Model.Name ratings based on <span id="total-reivew-text"></span> Verified Reviews
                                        </h2>
                                        <div id="review"></div>
                                    </div>
                                </div>

                                <h2 style="font-size: 20px; color: #6b6b6b">You might also like</h2>
                                <div id="similar-hotel">
                                </div>
                            </div>
                        </div>
                        <!--feature-hotel-content-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="reguest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 style="color: rgb(245, 130, 32);font-weight: bold;text-align: center;width: 90%;" class="modal-title" id="myModalLabel">Request booking form</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="form-group" style="float: left; width: 48%;">
                        <label for="first-name">First name</label>
                        <input type="text" id="first-name" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group" style="float: right; width: 48%;">
                        <label for="last-name">Last name</label>
                        <input type="text" id="last-name" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group" style="float: left; width: 48%;">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group" style="float: right; width: 48%;">
                        <label for="phone">Phone</label>
                        <input type="text" maxlength="20" id="phone" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group">
                        <label for="note" style="display: block;">Special request</label>
                        <textarea rows="5" class="form-control" id="note" placeholder="Special request"></textarea>
                    </div>
                </div>
                <ul class="text-danger" id="error-list" style="list-style: square; padding-left: 13px;display: none"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="send-request" onclick="saveReguest();">Send request</button>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-default" id="send-request" onclick="saveReguest();">Gửi yêu cầu</button>
                </div>*@
        </div>
    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-helper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery-indicator.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery-fullscreen.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery-youtube.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery-video.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/blueimp-gallery-vimeo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/library/jquery.blueimp-gallery.js")"></script>
    <script>
        function initMap() {
            var lat = $("#hotel-lat").val();
            var lng = $("#hotel-lon").val();
            var myLatlng = { lat: parseFloat(lat), lng: parseFloat(lng) };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: myLatlng
            });

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Click to zoom'
            });

            map.addListener('center_changed', function () {
                // 3 seconds after the center of the map has changed, pan back to the
                // marker.
                window.setTimeout(function () {
                    map.panTo(marker.getPosition());
                }, 3000);
            });

            marker.addListener('click', function () {
                map.setZoom(16);
                map.setCenter(marker.getPosition());
            });
        }


    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0bK4CdrpWcWz6HfUpCT9HnWRY8a4k9l0&callback=initMap" async defer></script>
}
