@using System
@using System.Security.Claims
@using Vinaday.Data.Models
@model Vinaday.Data.Models.DealHotelTours
@{
    ViewBag.Title = "Rooms - Hotel Management";
   
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update Deal </h4>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form id="wizardForm" method="POST" enctype="multipart/form-data" action="@Url.Content("~/Product/UpdateDealTourHotel")">
                    <div class="row">
                        <div id="load-pane-wizard"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <label for="Name">Deal Name:</label>
                                <input type="text" class="form-control " name="DealName" id="Name" value="@Model.DealName" placeholder="Deal Name">
                                @Html.HiddenFor(a=>a.Id)
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Link">Page Link:</label>
                                <input type="text" class="form-control " name="LinkDetail" id="LinkDetail" value="@Model.LinkDetail"  placeholder="http://">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label for="City">City:</label>
                                <input type="text" class="form-control " name="LocationCity" id="LocationCity" value="@Model.LocationCity" placeholder="City">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Country">Country:</label>
                                <input type="text" class="form-control " name="LocationCountry" id="LocationCountry" value="@Model.LocationCountry"  placeholder="Country">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ExpiredDate">Expired date:</label>
                                <input type="text" class="form-control m-b-sm date-picker" name="ExpiredDate" value="@Model.ExpiredDate"  id="ExpiredDate">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label for="Price">Price:</label>
                                <input type="text" class="form-control " id="Price" name="Price" value="@Model.Price" placeholder="Price">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Discount">Discount:</label>
                                <input type="text" class="form-control " id="Discount" name="Discount"  value="@Model.Discount" placeholder="Discount">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Days">Days:</label>
                                <input type="text" placeholder="Enter day(s)" id="Night" name="Night"  value="@Model.Night"  class="form-control ">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <label for="DealAvarta">Avarta:</label>
                                <input type="file" class="form-control " id="DealAvarta" name="DealAvarta"  placeholder="Avarta">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="DealBanner">Banner:</label>
                                <input type="file" class="form-control " id="DealBanner" name="DealBanner" placeholder="DealBanner">
                            </div>

                        </div>

                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <label for="DealType">Hotel/Tour (1,2):</label><br />
                                <input type="text" id="DealType" name="DealType"   value="@Model.DealType"  placeholder="Hotel 1/ Tour 2" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="RoomType">Room Type</label><br />
                                <input type="text" id="RoomType" name="RoomType"    value="@Model.RoomType" />
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6">
                                <input type="submit" value="Finish" class="btn btn-default">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div><!-- Row -->
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            orientation: "top auto",
            autoclose: true
        });
    });
    function UpdatePackage() {
        var package = new Object();
        package.Id = $("#edit-package-id").val();
        package.HotelId = $("#hotel-id").val();
        package.RoomName = $("#edit-RoomName").val();
        package.RoomNameVN = $("#edit-RoomNameVN").val();
        package.Price = $("#edit-Price").val();
        package.FromDate = $("#edit-FromDate").val();
        package.ToDate = $("#edit-ToDate").val();
        package.CancellationId = $("#edit-cancellation-list").val();
        package.CancellationName = $("#edit-cancellation-list").find(":selected").text();
        package.IsPromotion = $("#edit-promotion").is(':checked') ? true : false;
        package.DiscountValue = $("#edit-promotion-discount").val();
        package.Including = '';
        package.Night = $("#edit-Night").val();
        package.IncludingValue = $("#edit-IncludingValue").val();
        package.IncludingValueVN = $("#edit-IncludingValueVN").val();
        blockUi(el);
        $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(package),
                dataType: "json",
            url: "http://goreise.com/rc/Product/UpdatePackage/"
            })
            .success(function (result) {
                unblockUi(el);
                if (result != "" && result.Status == 2) {
                    successMessage(result.Message);
                    setTimeout(function () {
                        window.location.reload(1);
                    }, 3000);
                } else {
                    errorMessage(result.Message);
                }
            })
            .error(function () {
                errorMessage("Connect to data is fail!");
            });
        return true;
    }
    
</script>