@using System.Linq
@using System.Security.Claims
@using Vinaday.Web.Framework
@{
    ViewBag.Title = "Cancellation Management";
    var role = ((ClaimsIdentity)User.Identity).Claims
       .Where(c => c.Type == ClaimTypes.Role)
       .Select(c => c.Value).FirstOrDefault();
    Layout = role.Contains("Master Admin") ? "~/Views/Shared/_MasterLayout.cshtml" : "~/Views/Shared/_ContentLayout.cshtml";
}
<div class="page-title">
    <h3>Cancellation Management</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/Configuration">Configuration</a></li>
            <li class="active">Cancellation Management</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div id="loadPane"></div>
            <div class="panel panel-white">
                <div class="panel-body">
                    <a type="button" href="javascript:void(0);" onclick="getCancellation('0');" class="btn btn-success m-b-sm">Add New</a>
                    @if (Model.Count > 0)
                    {
                        <div class="table-responsive">
                            <table id="hotel-list" class="display table" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th style="width: 50px;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (Vinaday.Data.Models.CancellationPolicy cancellation in Model)
                                {
                                    <tr>
                                        <td>@cancellation.Id</td>
                                        <td><span style="font-weight: bold">@cancellation.Code</span> - @cancellation.Name</td>

                                        <td class="center">
                                            @if (cancellation.Status != null)
                                            {
                                                @Enum.GetName(typeof (Utilities.Status), (int) cancellation.Status)
                                            }
                                        </td>
                                        <td>
                                            <a @(cancellation.Status==(int)Utilities.Status.Inactive?"disabled":"") class="btn btn-success btn-xs" href="javascript:void(0);" onclick="getCancellation('@cancellation.Id');"><small class="glyphicon glyphicon-edit"></small></a>
                                            <a @(cancellation.Status==(int)Utilities.Status.Inactive?"disabled":"") href="javascript:void(0);" class="btn btn-danger btn-xs" onclick="deleteCancellation('@cancellation.Id');"><small class="glyphicon glyphicon-trash"></small></a>

                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <span>No content for this time</span>
                    }

                </div>
            </div>

        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
<div id="divCancellation"></div>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = '@Url.Content("~/assets/js/pages/cancellation.js")';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
    }
</script>
