@{
    ViewBag.Active = "Category";
    ViewBag.Title = "Category Management";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<div id="main-content" class="main-content container-fluid">
    <!-- // page head -->
    @Html.Partial("_Sidebar")
    <div id="page-content" class="page-content">
        <div class="page-header">
            <h3><i class="aweso-icon-list-alt opaci35"></i> Category <small>management</small></h3>
        </div>
        <div class="row-fluid">
            <div class="span12 grider">
                <div class="widget widget-simple">
                    <div class="widget-content">
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="span12 form-dark">
                                    <fieldset>
                                        <ul class="form-list label-left list-bordered dotted">
                                            <li class="control-group">
                                                <label for="name" class="control-label">Name: <span class="required">*</span></label>
                                                <div class="controls controls-row">
                                                    <input id="name" class="span12 margin-right5" type="text" placeholder="Enter name">
                                                </div>
                                            </li>
                                            <li class="control-group">
                                                <label for="description" class="control-label">Description: <span class="required">*</span></label>
                                                <div class="controls controls-row">
                                                    <textarea id="description" class="span12 margin-right5" cols="5" placeholder="Enter description"></textarea>
                                                </div>
                                            </li>
                                            <!-- // form item -->

                                            <li class="control-group">
                                                <div class="controls">
                                                    <button id="save" class="btn btn-blue" onclick="InsertCategory();">Add new</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>

                                    @if (categories.Count > 0)
                                    {
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col" class="hidden-phone">Description</th>
                                                    <th scope="col" class="hidden-phone">Crate Date</th>
                                                    <th scope="col" class="action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var category in categories)
                                                {
                                                    <tr>
                                                        <td>@category.Id</td>
                                                        <td>@category.Name</td>
                                                        <td class="hidden-phone">@category.Description</td>
                                                        <td class="hidden-phone">@category.CreatedDate.ToShortDateString()</td>
                                                        <td class="action">
                                                            <span class="quick-menu-icon pull-right" style="cursor: pointer">
                                                                <a href="@string.Format("~/Configuration/CategoryDetail/{0}",category.Id)">Manager</a>  |
                                                                <a onclick="deleteCategory('@category.Id')">Edit</a>  |
                                                                <a onclick="deleteCategory('@category.Id')">Delete</a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <p>No content for this Item</p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="page-title">
    <h3>Category Management</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/Dashboard/Index">Dashboard</a></li>
            <li class="active">Category</li>
        </ol>
    </div>
</div>
@if (Model.Count > 0)
{
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <a data-toggle="modal" data-target="#add-new-modal" class="btn btn-info btn-addon m-b-sm btn-xs"><i class="fa fa-plus"></i>Add new</a>

                        <div class="table-responsive">
                            @*<input id="category-id" type="hidden" value="@Model.Id" />*@

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col" class="hidden-phone">Description</th>
                                        <th scope="col" class="hidden-phone">Crate Date</th>
                                        <th scope="col" class="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>@category.Id</td>
                                            <td>@category.Name</td>
                                            <td>@category.Description</td>
                                            <td>@category.CreatedDate.ToShortDateString()</td>
                                            <td>
                                                <span>
                                                    <a href="@string.Format("~/Configuration/CategoryDetail/{0}",category.Id)">Manager</a>  |
                                                    <a href="#" onclick="editCategoryForm('@category.Id','@category.Name','@category.Description')">Edit</a>  |
                                                    <a href="#" onclick="deleteCategory('@category.Id')">Delete</a>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <p>No content for this Item</p>
}
<div class="modal fade" id="add-new-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new category</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="name">Name <span class="text-danger">*</span></label>
                        <input class="form-control" id="name" type="text" placeholder="Enter name">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description">Description <span class="text-danger">*</span></label>
                        <input class="form-control" id="description-en" type="text" placeholder="Enter description">
                    </div>
                    <div class="form-group col-md-12">
                        <div id="error-list" style="display: none;">
                            <div id="error-item" class="alert alert-danger" role="alert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="insertCategory();" class="btn btn-success">Add new</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-new-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update new category</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="edit-name">Name <span class="text-danger">*</span></label>
                        <input class="form-control" id="edit-name" type="text" placeholder="Enter name">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="edit-description-en">Description <span class="text-danger">*</span></label>
                        <input class="form-control" id="edit-description-en" type="text" placeholder="Enter description">
                    </div>
                    <div class="form-group col-md-12">
                        <div id="edit-error-list" style="display: none;">
                            <div id="edit-error-item" class="alert alert-danger" role="alert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="edit-category-id" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="updateCategory();" class="btn btn-success">Save change</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/category.js"></script>