@using Vinaday.Data.Models
@model List<Vinaday.Data.Models.Deals>
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mekong Delta Tours, Mekong Delta Trip - These tours are the most suitable for your package: Saigon - My Tho - Ben Tre, Cai Be - Vinh Long...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title> Deals on Things to Do - VINADAY goREISE (Vinaday Travel) - Tours - Day Trips - Hotels</title>
    <!-- Page styles -->
    <link href="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.grey-blue.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,100,700,500italic,400%7CMaterial+Icons+Extended%7COpen+Sans:300,400,600,700%7CProduct+Sans:400&amp;lang=en" rel="stylesheet">
    <style>
        .m-icon, .m-icon-pseudo:after {
            font-family: 'Material Icons Extended';
            text-rendering: optimizeLegibility;
            font-feature-settings: "liga" 1;
            -webkit-font-feature-settings: "liga" 1;
            -moz-font-feature-settings: "liga" 1;
            -ms-font-feature-settings: "liga" 1;
            -o-font-feature-settings: "liga" 1;
            font-style: normal;
            text-transform: none;
            line-height: 1; 
            font-size: 24px;
        }

        #maia-header {
            background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #fff, #fff) repeat scroll 0 0 !important;
        }

      
    </style>
    <link href="~/Content/mdl/enterprise.css" rel="stylesheet">
    <link href="~/Content/mdl/partners.css" rel="stylesheet">
    <link href="~/Content/mdl/styles.css" rel="stylesheet" />
    <link href="~/Content/plugins/countdown/assets/countdown/jquery.countdown.css" rel="stylesheet" />
</head>
<body class="partners">

    <div class="maia-header" id="maia-header" role="banner">
        <div class="maia-aux">
            <h1>
                <a href="/">
                    <img style="margin: -7px -5px; width: 200px;" src="~/Content/mdl/images/logo.png" alt="vinaday goreise">
                </a>
            </h1>
            <h2>
                <a href="#">&nbsp;Super Sale</a>
            </h2>


            <a class="maia-teleport" href="#content">Skip to content</a>

        </div>
    </div>
    <div class="maia-nav maia-complex" id="maia-nav-x" role="navigation">
        <div class="maia-aux">
            <nav class="nav">
                <ul>
                    <li class=" expand">
                        <a class="m-icon-pseudo">Services</a>
                        <ul class="tier-two">
                            <li>
                                <a href="http://hotel.goreise.com/">Hotel</a>
                            </li>
                            <li>
                                <a href="http://tours.goreise.com/">Tour</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        Call: +84 916388382
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        <div id="maia-main" role="main">
            <div class="maia-teleport" id="content"></div>
            <div class="maia-max home">

                @foreach (var deal in Model)
                {
                    if (deal == null) { continue; }
                    if (deal.Priority != 1)
                    {
                        continue;
                    }
                    var countdown = (deal.Countdown - DateTime.Now).TotalHours;
                    <input type="hidden" value="@countdown" id="deal" />
                    <div class="carousel">
                        <div class="slides slide-one build-your-business-for-the-future-and-partner-with-google-for-work">
                            <div class="wrapper maia-aux">
                                <div class="content maia-col-6 mdl-color-text--white">

                                    <h2 class="heading mdl-typography--font-light">
                                        @if (countdown > 0)
                                        {
                                            <div style="text-align: left" id="countdown"></div>
                                        }
                                        @deal.Name
                                    </h2>
                                    <p>
                                        @Html.Raw(deal.Description)
                                    </p>
                                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent apply-now cta" style="background-color: #ff4081;margin: 5px 0;"
                                       data-g-action="Book now" data-g-event="Work: Partners" data-g-label="Header" href="@deal.Url">Book now</a>
                                </div>
                            </div>
                            <figure class="image" style="background-image: url('@deal.ImageUrl')"></figure>
                        </div>
                        <a href="#program-tracks" class="button-down gweb-smoothscroll-control">
                            <button class="mdl-button mdl-js-button mdl-button--fab m-icon" data-upgraded=",MaterialButton">keyboard_arrow_down</button>
                        </a>
                    </div>
                }


                <div class="partner-programs section" id="partner-program">
                    <div class="maia-aux">
                        <div id="program-tracks" class="program-tracks section">
                            <h2 class="mdl-typography--font-light heading">
                                More Deals
                            </h2>
                            <div class="maia-cols cards-container">
                                @foreach (var deal in Model)
                                {
                                    if (deal == null) { continue; }
                                    if (deal.Priority == 1)
                                    {
                                        continue;
                                    }
                                    <div class="maia-col-4 card services-track mdl-card mdl-shadow--2dp">
                                        <div class="image mdl-card__title" style="background-image: url('@deal.ImageUrl')"></div>
                                        <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                            <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                                @deal.Name
                                            </h3>
                                            <p>
                                                @Html.Raw(deal.Description)
                                            </p>
                                        </div>
                                        <div class="mdl-card__actions" style="padding: 0 25px;">
                                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent apply-now cta"
                                               data-g-action="View more" data-g-event="Work: Partners" data-g-label="Header" href="@deal.Url">Book now</a>
                                        </div>
                                    </div>
                                }

                                @*<div class="maia-col-4 card technology-track mdl-card mdl-shadow--2dp">
                                        <div class="image mdl-card__title" style="background-image: url('http://vinaday.vn/Content/images/spa/FSDN-Signature-Fusion-Suites-15.jpg')"></div>
                                        <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                            <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                                Alma Oasis Long Hai Resort
                                            </h3>
                                            <p>
                                                Phòng Superior Spa Ocean View<br />
                                                Miễn phí Spa và đón tiễn sân bay<br />
                                                Giá chỉ còn: 2.420.000đ/đêm<br />

                                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                                    Tiết kiệm 40%
                                                </h3>
                                            </p>
                                        </div>
                                        <div class="mdl-card__actions" style="padding: 0 25px;">
                                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent apply-now cta"
                                               data-g-action="View more" data-g-event="Work: Partners" data-g-label="Header" href="https://goreise.com/">View more</a>
                                        </div>
                                    </div>
                                    <div class="maia-col-4 card sales-track mdl-card mdl-shadow--2dp">
                                        <div class="image mdl-card__title" style="background-image: url('http://vinaday.vn/Content/images/spa/TheShells_Exterior_14.jpg')"></div>
                                        <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                            <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                                Fusion Maia Resort & Spa All-inclusive
                                            </h3>
                                            <p>
                                                Phòng Superior Spa Ocean View<br />
                                                Miễn phí Spa và đón tiễn sân bay<br />
                                                Giá chỉ còn: 2.420.000đ/đêm<br />

                                                <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                                    Tiết kiệm 40%
                                                </h3>
                                            </p>

                                        </div>
                                        <div class="mdl-card__actions" style="padding: 0 25px;">
                                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent apply-now cta"
                                               data-g-action="View more" data-g-event="Work: Partners" data-g-label="Header" href="https://goreise.com/">View more</a>
                                        </div>
                                    </div>*@
                                <aside class="maia-col-12 card referral-program side-media mdl-card mdl-shadow--2dp">
                                    <div class="image mdl-card__title"></div>
                                    <div class="content mdl-card__supporting-text mdl-color-text--grey-800">
                                        <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
                                            Book online or call: +84 916388382
                                        </h3>
                                        <p>
                                            And MORE than 25100 things to do. Book online to lock in your tickets
                                            <a href="https://goreise.com/" data-g-label="Home" data-g-event="Work: Partners" data-g-action="Find out more">Find out more</a>.
                                        </p>
                                    </div>
                                </aside>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <div class="maia-footer" id="maia-footer">
        <div id="maia-footer-local">
            <div class="maia-aux">

                <div class="ent-footer-links">
                    <div class="ent-footer-unit">
                        <h4>
                            Company
                        </h4>
                        <ul>
                            <li>
                                <a href="/">VINADAY goREISE</a>
                            </li>
                            <li>
                                <a href="http://hotel.goreise.com/">Hotel Service</a>
                            </li>
                            <li>
                                <a href="http://tours.goreise.com/">Tour Service</a>
                            </li>
                            <li>
                                <a href="http://xmylife.com">Blog Travel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ent-footer-unit">
                        <h4>
                            Top Hotels
                        </h4>
                        <ul class="col-md-3">
                            <li><a rel="nofollow" target="_blank" href="http://hotel.goreise.com/viet-nam/15445/the-grand-ho-tram-strip-resort">The Grand Ho Tram Strip Resort </a></li>
                            <li><a rel="nofollow" target="_blank" href="http://hotel.goreise.com/viet-nam/15897/alma-oasis-long-hai-resort">Alma Oasis Long Hai Resort</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://hotel.goreise.com/viet-nam/11464/the-princess-dannam-resort-spa">The Princess DAnnam Resort &amp; Spa</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://hotel.goreise.com/viet-nam/11954/sea-links-beach-hotel">Sea Link Beach Hotel</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://hotel.goreise.com/viet-nam/14707/the-cliff-resort-residences">The Cliff Resort &amp; Residences</a></li>
                        </ul>
                    </div>
                    <div class="ent-footer-unit third">
                        <h4>
                            Top Tours
                        </h4>
                        <ul class="col-md-3">
                            <li><a rel="nofollow" target="_blank" href="http://tours.goreise.com/vn/12/private-tour-full-day-cao-dai-temple-cu-chi-tunnels">Full Day Cao Dai Temple...</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://tours.goreise.com/vn/50/two-days-ha-long-bay-by-jasmine-cruise">Two days Ha Long Bay by Ja...</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://tours.goreise.com/vn/124/sofitel-plaza-saigon-depth-in-saigon-4-days-3-nights">Sofitel Plaza Saigon - Depth...</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://tours.goreise.com/vn/146/silverland-sakyo-hotel-spa-holiday-package-3-days-2-nights">Silverland Sakyo Hotel &amp; Sp...</a></li>
                            <li><a rel="nofollow" target="_blank" href="http://tours.goreise.com/kh/362/angkor-village-hotel-siem-reap-in-depth-package">Angkor Village Hotel Siem Reap...</a></li>
                        </ul>
                    </div>
                    <div class="ent-footer-unit last">
                        <h4>
                            Keep in touch
                        </h4>
                        <ul>
                            <li>
                                <a href="https://plus.google.com/+Vinadayvietnamtours/" rel="publisher" target="_blank">Google+ Page</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vinadayworldwide" rel="publisher" target="_blank">Facebook Fan Page</a>
                            </li>

                            <li>
                                <a href="https://twitter.com/vinaday" target="_blank">
                                    Vinaday on
                                    Twitter
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/vinadaytrave" target="_blank">
                                    Vinaday on
                                    Pinterest
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=371716494&authType=NAME_SEARCH&authToken=m9CQ&locale=en_US&srchid=1380671381418885222608&srchindex=2&srchtotal=7&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1380671381418885222608%2CVSRPtargetId%3A371716494%2CVSRPcmpt%3Aprimary" target="_blank">
                                    Vinaday on
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br class="clear">
            </div>
        </div>
        <div id="maia-footer-global">
            <div class="maia-aux">
                <div class="maia-locales"></div>
                <ul>
                    <li>
                        <a href="/about-us">About Vinaday</a>
                    </li>
                    <li>
                        <a href="/websites-rules">Privacy</a>
                    </li>
                    <li>
                        <a href="/payment-information">Payment</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/app")

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/mdl/material.min.js"></script>
    <script src="~/Content/plugins/countdown/assets/countdown/jquery.countdown.js"></script>
    <script src="~/Content/plugins/countdown/assets/js/script.js"></script>
</body>
</html>
