@using System
@using System.Collections.Generic
@using Vinaday.Data.Models
@using Vinaday.Data.Models.Extention
@model Vinaday.Data.Models.Extention.HotelModel
@{
    ViewBag.Title = Model.SeoTitle;
    List<RateExchange> exchanges = ViewBag.Exchanges;
    var checkInSession = ViewBag.CheckIn;
    var checkOutSession = ViewBag.CheckOut;

    ReviewModel review = ViewBag.Reviews;
}
<link href="~/Content/search.css" rel="stylesheet" />
<input type="hidden" id="hotel-id" value="@Model.Id" />
<input type="hidden" id="city-id" value="@Model.CityId" />
<input type="hidden" id="hotel-name" value="@Model.Name" />
<input type="hidden" id="hotel-lon" value="@Model.Longtitude" />
<input type="hidden" id="hotel-lat" value="@Model.Latitude" />
<input type="hidden" id="hotel-address" value="@Model.Address" />
<div style="width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 10px">
    <div class="container">

        <div class="subpage">
            <article class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">

                <span typeof="v:Breadcrumb">
                    <a property="v:title" rel="v:url" href="http://www.hotel.vinaday.com/">
                        <i class="fa fa-angle-double-left"></i> Back to results
                    </a>
                </span>

                <span class="hidden-xs">
                    - @Model.City
                </span>
                <span class="pull-right">
                    <a style="color: #333" href="tel:84-8-38 388 382">Book online or call (84-8) -38 388 382</a>

                </span>
            </article>
        </div>
    </div>
</div>
<section class="content">
    <div class="detail">
        <div class="container">
            <div style="margin-bottom: 10px;" class="info-content">
                <h1 itemprop="name" style="color: #00355f;font-size: 35px;font-weight: 600;">@Model.Name <span class="star star_@(Model.Star)"></span></h1>
                <div style="clear:both;">
                    @if (Model.TheCollections.Count > 0)
                    {
                        foreach (var theCollection in Model.TheCollections)
                        {
                            <span style="margin-right: 5px;"><i class="fa fa-check"></i> @theCollection.Description</span>
                        }

                    }
                </div>
                <address itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                    <i class="fa fa-map-marker"></i>
                    <span itemprop="streetAddress">@Model.Address </span>
                </address>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin: 0 -15px !important">
                    <div class="col-md-9">
                        <div class="fullscreen">
                            <div class="row">
                                <div id="slider1_container" style="display: none; position: relative; margin: 0 auto; width: 848px; height: 470px; overflow: hidden;">
                                    <!-- Loading Screen -->
                                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; background-color: #000; top: 0px; left: 0px; width: 100%; height: 100%;">
                                        </div>
                                        <div style="position: absolute; display: block; background: url(/Content/images/design/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;">
                                        </div>
                                    </div>

                                    <!-- Slides Container -->
                                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 848px; height: 470px; overflow: hidden;">

                                        @if (Model.Images.Count > 0)
                                        {
                                            foreach (HotelImages image in Model.Images)
                                            {
                                                <div class="custom-bg">
                                                    <img u="image" alt="@image.ImageName" src="@(!string.IsNullOrEmpty(image.ImageThumbnail) ? "http://admin.vinaday.com" + @Url.Content(string.Format("{0}-original.png", image.ImageThumbnail)) : "/Content/images/demo/general/no-image.jpg")" />
                                                </div>

                                            }
                                        }
                                    </div>
                                    <div u="navigator" class="jssorb03" style="bottom: 16px; right: 6px;">
                                        <!-- bullet navigator item prototype -->
                                        <div u="prototype">
                                            <div u="numbertemplate"></div>
                                        </div>
                                    </div>
                                </div>


                                <div id="gallery-list" ></div>

                            </div>
                            <!--library-images-->
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs">
                        <div class="testimonials fadeInRight animated">
                            @if (review != null)
                            {
                                <div class="clear-wrapper">
                                    <div style="margin-bottom: 0px" class="blog fadeInLeft animated" itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">


                                        @if (!string.IsNullOrEmpty(review.Score))
                                        {
                                            <div class="date">
                                                <a class="day" href="javascript:void(0)">
                                                    @review.Score
                                                </a>
                                                <a class="month" href="javascript:void(0)">
                                                    @review.ScoreText
                                                </a>
                                            </div><!-- .date -->
                                            <span class="title-desc" style="text-align: right; width: 100%; margin: 10px 0 0">
                                                <h2 style="color: rgb(107, 107, 107); font-size: 25px; margin: 0px;">@Html.Raw(review.Title)</h2>
                                                <span class="score_from_number_of_reviews meta">Based on <strong itemprop="ratingCount">@Html.Raw(review.Content)</strong> verified reviews</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="title-desc" style="text-align: right; width: 100%; margin: 10px 0 0">
                                                <h2 style="color: rgb(107, 107, 107); font-size: 25px; margin: 0px;">@Html.Raw(review.Title)</h2>
                                                <span class="score_from_number_of_reviews meta">Review Coming soon</span>
                                            </span>
                                        }

                                        <!-- .title-desc -->
                                    </div>
                                    <div class="clearfix"></div>
                                    @if (review.ReviewDetail != null)
                                    {
                                        <ul class="bars">
                                            @if (review.ReviewDetail.Service > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Service</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left">@((review.ReviewDetail.Service * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10</span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Service*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Service*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Service" itemprop="name">
                                                    </span>
                                                </li>
                                            }
                                            @if (review.ReviewDetail.Room > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Rooms</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.Room * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10</span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Room*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Room*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Rooms" itemprop="name">
                                                    </span>
                                                </li>
                                            }
                                            @if (review.ReviewDetail.Value > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Value</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.Value * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10</span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Value*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Value*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Value" itemprop="name">
                                                    </span>
                                                </li>


                                            }
                                            @if (review.ReviewDetail.SleepQuality > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Sleep Quality</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.SleepQuality * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10</span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.SleepQuality*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.SleepQuality*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Sleep Quality" itemprop="name">
                                                    </span>
                                                </li>
                                            }
                                            @if (review.ReviewDetail.Location > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Location</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.Location * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10 </span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Location*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Location*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Location" itemprop="name">
                                                    </span>
                                                </li>
                                            }
                                            @if (review.ReviewDetail.Breakfast > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Breakfast</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.Breakfast * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10 </span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Breakfast*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Breakfast*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Breakfast" itemprop="name">
                                                    </span>
                                                </li>


                                            }
                                            @if (review.ReviewDetail.Spa > 0)
                                            {
                                                <li itemref="_author48" itemtype="http://schema.org/Review" itemscope="" itemprop="review" style="margin: 5px 0 0">
                                                    <strong itemprop="reviewBody">Spa</strong>
                                                  <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="float: right">
                                                        <span itemprop="ratingValue" style="float: left"> @((review.ReviewDetail.Spa * 2).ToString("#.#"))</span>/<span itemprop="bestRating" style="float: right">10 </span>
                                                    </span>
                                                    <div class="progress">
                                                        <div data-value="@((review.ReviewDetail.Spa*100)/5)" role="progressbar" class="progress-bar animated" style="width: @((review.ReviewDetail.Spa*100)/5)%;"></div>
                                                    </div>
                                                    <span itemtype="http://schema.org/Person" itemscope="" itemprop="author" id="_author48">
                                                        <meta content="Spa" itemprop="name">
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    }


                                </div>
                            }
                            <div class="testimonial-wrapper" id="testimonials" style="height: 100px;">
                                @if (review.Reviews != null && review.Reviews.Count > 0)
                                {
                                    foreach (var reviewModel in review.Reviews.Count > 5 ? review.Reviews.Take(5) : review.Reviews)
                                    {
                                        <div style="height: 80px">
                                            <p style="background: none;">
                                                @Html.Raw(reviewModel.Content)
                                            </p>

                                        </div>

                                    }
                                }

                            </div><!-- .testimonials -->

                        </div>
                        
                    </div>

                </div>
            <div class="col-md-12">
            <div id="book-now" class="mg-section showroom">
                <div class="subtitle clearfix">
                    <h2 style="line-height: 24px; width: 70%; margin-left: -15px; text-transform: uppercase">Choose your room </h2>
                    <div class="select-style pull-right" style="background-image: none">
                        <select id="rate-exchange" style="border: none !important">
                            @if (exchanges.Count > 0)
                            {
                                foreach (var exchange in exchanges)
                                {
                                    <option value="@exchange.Id" @(@exchange.Id == 1 ? "selected" : "")>@exchange.Name</option>
                                }
                            }
                        </select>
                    </div>

                </div>
                <!--subtitle-->
                <div class="showroom-content clearfix contentLightBox">
                    <div class="checkrate">

                        <div class="subsearch clearfix input-daterange">
                            <div class="form-group has-feedback">
                                <label class="control-label" for="check-in">Check in</label>
                                <input name="start" readonly type="text" class="form-control date-time" id="check-in" placeholder="mm/dd/yyyy" value="@(checkInSession != null ? checkInSession.ToString("MM/dd/yyyy") : string.Empty)">
                                <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="check-out">Check out</label>
                                <input name="end" readonly type="text" class="form-control date-time" id="check-out" placeholder="mm/dd/yyyy" value="@(checkOutSession != null ? checkOutSession.ToString("MM/dd/yyyy") : string.Empty)">
                                <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Rooms</label>
                                <div class="select-style">
                                    <select>
                                        <option selected="selected">1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adult</label>
                                <div class="select-style">
                                    <select>
                                        <option selected="selected">1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Children</label>
                                <div class="select-style">
                                    <select>
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group update-search">
                                <button onclick="checkRates();" class="btn btn-sm btn-primary icon anim fadeIn animated"><i class="fa fa-long-arrow-right"></i>Update</button>
                            </div>
                            <div class="form-group update-search pull-right" id="book-request" style="display: none;">
                                <a style="background: #a3238e none repeat scroll 0 0" href="javascript:void(0)" title="Inquire Now" onclick="fillRequestFrom('')" class="btn btn-sm btn-primary icon fadeIn animated animated book-request">Inquire Now</a>
                            </div>
                        </div>
                        <!--subsearch-->
                    </div>
                    <!--checkrate-->
                    <div class="room-header clearfix hidden-xs">
                        <div class="room-type-header"> Room Types </div>
                        <!--room-type-header-->
                        <div class="room-info-header"> Room Information </div>
                        <!--room-info-header-->
                        <div class="room-max-header"> Max </div>
                        <!--room-max-header-->
                        <div class="room-rate-header tooltip-style">
                            Avg rate per night<a href="javascript:void(0)" data-toggle="tooltip" data-original-title="The rate offered is the lowest one in the staying period"> (?)</a>
                        </div>
                        <!--room-rate-header-->
                        <div class="room-number-header"> No. Rooms </div>
                        <!--room-number-header-->
                        <div class="room-book-header"> &nbsp; </div>
                        <!--room-book-header-->
                        <div class="vertical-separator vertical-separator-first"></div>
                        <div class="vertical-separator vertical-separator-second"></div>
                        <div class="vertical-separator vertical-separator-third "></div>
                        <div class="vertical-separator vertical-separator-fourth "></div>
                        <div class="vertical-separator vertical-separator-fifth "></div>
                        <!--separator-->
                    </div>
                    <!--room-header-->
                    <div class="room-content clearfix">

                    </div>
                    <!--room-content-->
                </div>
                <p style="float: right; font-size: 13px; color: #55b455; padding: 5px;">Not included in room price: Service charges 5%, Hotel tax 10%</p>
                <!--showroom-content-->
            </div>
            <!--showroom-->
            <div id="facilities" class="mg-section clearfix">
                <div class="feature-hotel-content">
                    <div class="anim fadeInRight">
                        <div class="tab-component">
                            <ul class="nav nav-tabs" role="tablist" id="homeTab">
                                <li role="presentation" class="active">
                                    <a style="font-size: 20px;" href="#topcity" aria-controls="home" role="tab" data-toggle="tab">About the Hotel</a>
                                </li>
                                <li class="" role="presentation">
                                    <a style="font-size: 20px;" href="#topcountry" aria-controls="profile" role="tab" data-toggle="tab">Guest Reviews</a>
                                </li>
                            </ul>
                            <div class="tab-content tours-destinations" style="color: #6b6b6b; margin-left: -15px; margin-right: -15px">
                                <div role="tabpanel" class="tab-pane active" id="topcity">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-md-6">
                                                <h2 style="font-size: 20px;">Hotel Amenities</h2>
                                                <article>
                                                    <p class="info-title">
                                                        About
                                                    </p>
                                                    <div>
                                                        @Html.Raw(Model.Overview)
                                                    </div>

                                                    @if (Model.Facilities.Count > 0)
                                                    {

                                                        <p class="info-title">
                                                            Hotel Amenities
                                                        </p>
                                                        <ul style="list-style: inside">
                                                            @foreach (var facilitie in Model.Facilities)
                                                            {
                                                                <li class="col-xs-6">@facilitie.Name</li>

                                                            }
                                                        </ul>
                                                        <div class="clearfix"></div>

                                                    }

                                                    <!--feature-box-->
                                                    @if (Model.SportRecreations.Count > 0)
                                                    {

                                                        <p class="info-title">
                                                            Sports and Recreation
                                                        </p>
                                                        <ul style="list-style: inside">
                                                            @foreach (var sport in Model.SportRecreations)
                                                            {
                                                                <li style="text-transform: capitalize" class="col-xs-6">@sport.Name</li>
                                                            }
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    }


                                                    @if (Model.IsWifi)
                                                    {
                                                        <p class="info-title">
                                                            Internet
                                                        </p>
                                                        <p>Available in all rooms: Free WiFi</p>
                                                        <div class="clearfix"></div>
                                                    }
                                                    @if (Model.ParkingAvailable)
                                                    {
                                                        <p class="info-title">
                                                            Parking
                                                        </p>
                                                        <p>Car Park</p>
                                                        <div class="clearfix"></div>
                                                    }

                                                    @if (Model.Tip != null)
                                                    {
                                                        if (!string.IsNullOrEmpty(Model.Tip.Tip1))
                                                        {
                                                            <p class="info-title">
                                                                Where to go
                                                            </p>
                                                            <p>
                                                                @Html.Raw(Model.Tip.Tip1)
                                                            </p>
                                                            <div class="clearfix"></div>
                                                        }
                                                        if (!string.IsNullOrEmpty(Model.Tip.Tip2))
                                                        {
                                                            <p class="info-title">
                                                                Where to Eat
                                                            </p>
                                                            <p>
                                                                @Html.Raw(Model.Tip.Tip2)
                                                            </p>
                                                            <div class="clearfix"></div>
                                                        }
                                                        if (!string.IsNullOrEmpty(Model.Tip.Tip3))
                                                        {
                                                            <p class="info-title">
                                                                Other Service
                                                            </p>
                                                            <p>
                                                                @Html.Raw(Model.Tip.Tip3)
                                                            </p>
                                                            <div class="clearfix"></div>
                                                        }
                                                    }
                                                </article>

                                            </div>
                                            <div class="col-md-6">
                                                <h2 style="font-size: 20px;">Hotel Policies</h2>
                                                <article>
                                                    @if (!string.IsNullOrEmpty(Model.EarliestCheckIn))
                                                    {
                                                        <p class="info-title">
                                                            Check-in
                                                        </p>
                                                        <p>
                                                            Check-in time starts at @Model.EarliestCheckIn
                                                        </p>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.CheckOut))
                                                    {
                                                        <p class="info-title">
                                                            Check-out
                                                        </p>
                                                        <p>
                                                            Check-out time at @Model.CheckOut
                                                        </p>
                                                    }
                                                   
                                                    <div class="clearfix"></div>
                                                    <div id="cancellation"></div>
                                                    
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="topcountry">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2 style="color: #6b6b6b; font-size: 20px; margin-left: 15px; margin-right: 15px;">@Model.Name ratings based on <span id="total-reivew-text"></span> Verified Reviews
                                            </h2>
                                            <div id="review"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 style="font-size: 20px; color: #6b6b6b">You might also like</h2>
                        <div id="similar-hotel">
                        </div>
                    </div>
                </div>
                <!--feature-hotel-content-->
            </div>

            </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="request_hotel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 style="color: rgb(245, 130, 32);font-weight: bold;text-align: center;width: 90%;" class="modal-title" id="myModalLabel">Request booking form</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="form-group" style="float: left; width: 48%;">
                        <label for="first-name">First name</label>
                        <input type="text" id="first-name" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group" style="float: right; width: 48%;">
                        <label for="last-name">Last name</label>
                        <input type="text" id="last-name" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group" style="float: left; width: 48%;">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group" style="float: right; width: 48%;">
                        <label for="phone">Phone</label>
                        <input type="text" maxlength="20" id="phone" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group">
                        <label for="note" style="display: block;">Special request</label>
                        <textarea rows="5" class="form-control" id="note" placeholder="Special request"></textarea>
                    </div>
                </div>
                <ul class="text-danger" id="error-list" style="list-style: square; padding-left: 13px;display: none"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="send-request" onclick="saveReguest();">Send request</button>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-default" id="send-request" onclick="saveReguest();">Gửi yêu cầu</button>
                </div>*@
        </div>
    </div>
</div>
<div class="modal fade" id="hotel-map">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h5 style="color: rgba(103, 20, 86, 0.9);font-weight: bold;width: 90%;" class="modal-title" id="myModalLabel">
                    Google map » @Model.Name
                </h5>
            </div>
            <div class="modal-body">
                <div id="googleMap-container" style="height: 100% !important; width: 100% !important;">
                    <div id="googleMap" class="gmap"></div>

                </div>
            </div>
        </div>
    </div>
</div>
