@{
    ViewBag.Title = "Lotto Managerment";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="page-title">
    <h3>Lotto Management</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Lotto Management</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div id="loadPane"></div>
            <div class="panel panel-white">
                <div class="panel-body">
                    <a data-toggle="modal" data-target="#add-new-modal" class="btn btn-info btn-addon m-b-sm btn-xs"><i class="fa fa-plus"></i>Add new</a>
                    @if (Model.Count > 0)
                    {
                        <div class="table-responsive">
                            <table id="hotel-list" class="display table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Limit Code</th>
                                        <th>Link</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Created</th>
                                        <th style="width: 50px;">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Vinaday.Data.Models.Lotto lotto in Model)
                                    {
                                        <tr>
                                            <td>@lotto.Id</td>
                                            <td>@lotto.Name</td>

                                            @{
                                                int total;
                                                string type;
                                                switch (lotto.Type)
                                                {
                                                    case 2:
                                                        total = 100;
                                                        type = "00-99";
                                                        break;
                                                    case 3:
                                                        total = 1000;
                                                        type = "000-999";
                                                        break;
                                                    default:
                                                        total = 10000;
                                                        type = "0000-9999";
                                                        break;
                                                }
                                            }
                                            <td>@type</td>
                                            <td><a href="@lotto.HashLink" target="_new">@lotto.HashLink</a></td>
                                            <td>@lotto.Status.ToString()</td>
                                            <td>@total</td>
                                            <td>@lotto.Created</td>
                                            <td>
                                                @if (lotto.Status)
                                                {
                                                    <a class="btn btn-success btn-xs" href="@(string.Format("~/Lotto/Detail/{0}", lotto.Id))"><small class="glyphicon glyphicon-edit"></small></a>
                                                    <a href="javascript:void(0);" class="btn btn-danger btn-xs" onclick="changeLotto('@lotto.Id','false');"><small class="glyphicon glyphicon-trash"></small></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success btn-xs" disabled="" href="@(string.Format("~/Lotto/Detail/{0}", lotto.Id))"><small class="glyphicon glyphicon-edit"></small></a>
                                                    <a href="javascript:void(0);" class="btn btn-success btn-xs" onclick="changeLotto('@lotto.Id','true');"><small class="glyphicon glyphicon-share"></small></a>
                                                }


                                            </td>
                                        </tr>
                                                }


                                </tbody>
                            </table>
                        </div>
                                                }
                                                else
                                                {
                                                    <span>No content for this time</span>
                                                }

                </div>
            </div>

        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
<div class="modal fade" id="add-new-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="name">Name <span class="text-danger">*</span></label>
                        <input class="form-control" id="name" type="text" placeholder="Enter name">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="type">Limit Code</label>
                        <select id="type" class="form-control m-b-sm">
                            <option value="2" name="100">00-99</option>
                            <option value="3" name="1000">000-999</option>
                            <option value="4" name="10000">0000-9999</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <div id="error-list" style="display: none;">
                            <div id="error-item" class="alert alert-danger" role="alert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="addLotto();" class="btn btn-success">Add new</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = '@Url.Content("~/assets/js/pages/lotto.js")';
        e.type = 'text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
    }
</script>