@using Vinaday.Data.Models
@{
    var hotelList = ViewBag.HotelList as List<Hotel>;
    Vinaday.Data.Models.HotelCoupon product = Model;
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Hotel Coupon </h4>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form id="wizardForm">
                    <div class="row">
                        <div id="load-pane-wizard"></div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <label for="Name">From date:</label>
                                <input type="text" class="form-control m-b-sm date-picker" value="@product.StartDate" id="StartDateEdit">
                                <input type="hidden" value="@product.Id" id="IdEdit">

                            </div>

                            <div class="form-group col-md-6">
                                <label for="Description">Todate:</label>
                                <input type="text" class="form-control m-b-sm date-picker" value="@product.EndDate" id="EndDateEdit">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group col-md-12">
                                <label for="Description">Hotel:</label>
                                <div id="hotelList">

                                    <select id="HotelIdEdit" class="form-control">
                                        <option value="0">All Hotel</option>
                                        @foreach (var hotel in hotelList)
                                        {

                                            <option @if (hotel.Id == product.HotelId)
                                                    {<text>selected="selected" </text> } value="@hotel.Id">@hotel.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group ">
                            <div class="form-group col-md-3">
                                <div>
                                    <label for="TotalQty">Quantity:</label><br/>
                                    <input type="text" class="form-control" id="TotalQtyEdit" value="@product.TotalQty" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div>
                                    <label for="TotalQty">Sale Quantity:</label><br />
                                    <input type="text" class="form-control" id="SalesQtyEdit" value="@product.SalesQty" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Price">Price:</label><br/>
                                <input type="text" class="form-control" id="PriceEdit" value="@product.Price"/>
                            </div>

                            <div class="form-group col-md-3">
                                <div id="valueType">
                                    <label for="Discount">Discount:</label><br/>
                                    <input type="text" class="form-control" id="DiscountEdit" value="@product.Discount" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="Name">Name:</label>
                            <textarea id="NameEdit" class="form-control" rows="3" placeholder="Name">@product.Name</textarea>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Description">Description:</label>
                            <textarea id="DescriptionEdit" class="form-control" rows="6" placeholder="Description">@product.Description</textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="ConditionUsing">Using Condition:</label>
                            <textarea id="ConditionUsingEdit" class="form-control" rows="6" placeholder="ConditionUsing">@product.ConditionUsing</textarea>
                        </div>


                        <div class="form-group ">
                            <div class="form-group col-md-6">
                                <a onclick="return UpdateHotelCoupon();" href="javascript:void(0);" class="btn btn-default">Save</a>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div><!-- Row -->
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#DescriptionEdit').summernote({
            height: 80
        });
        $('#ConditionUsingEdit').summernote({
            height: 200
        });
    });
</script>
