@using System.Globalization
@using Vinaday.Data.Models
@using Vinaday.Web.Framework
@model Voucher
<input type="hidden" id="voucher-id" value="@Model.Id" />
<input type="hidden" id="voucher-type" value="@Model.Type" />
@if (Model.Type == 2)
{
    <div id="voucher-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-transparent">
                        <div class="panel-body" style="border: 2px dashed rgb(176, 176, 176);">
                            <div class="row">
                                <div class="col-md-4" style="padding-left: 0 !important">
                                    <img src="~/assets/images/logo.png" alt="" style="width: 200px; margin-left: 5px;" /><br />
                                </div>
                                <div class="col-md-8 text-right">
                                    <h1 style="margin-top: 0;">Tour Voucher</h1>
                                    <address>
                                        <i>Please present either an electronic or paper copy of your operator voucher upon check-in</i>
                                    </address>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address>
                                            Booking No.: <b><span id="voucher-booking-id">@(string.Format("00{0}", Model.BookingId))</span></b><br />
                                            Guest: <b>
                                                <span id="voucher-guest">@Model.Guest</span>
                                            </b><br>
                                            Nationality: <b>
                                                <span id="voucher-nationality">@Model.Nationality</span>
                                            </b><br>
                                            Tour: <b>
                                                <a href="javascript:void(0);" id="voucher-name">
                                                    @if (string.IsNullOrEmpty(Model.Name))
                                                    {
                                                        <text>Please update tour name</text>
                                                    }
                                                    else
                                                    {
                                                    @Model.Name
                                                    }
                                                    
                                                </a>
                                            </b><br />
                                            
                                        </address>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <h3 class="text-center" style="margin-top: 0;">
                                        <b>BOOKING DETAIL</b><br><br>
                                    </h3>
                                </div>
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered alert-warning" id="voucher-table" style="margin-bottom: 5px;">
                                        <tbody>
                                            <tr>
                                                <td><b>No. of Adults: </b><a href="javascript:void(0);" id="voucher-adult">@(Model.Adult == 0 ? "" : Model.Adult.ToString(CultureInfo.InvariantCulture))</a></td>
                                                <td><b>No. of Children: </b><a href="javascript:void(0);" id="voucher-children">@(Model.Children == 0 ? "" : Model.Children.ToString(CultureInfo.InvariantCulture))</a></td>
                                            </tr>
                                        <tr>
                                            <td><b>Check-in: </b><a href="javascript:void(0);" id="voucher-check-in">@Model.CheckIn.ToShortDateString()</a></td>
                                            <td><b>Meal: </b><a href="javascript:void(0);" id="voucher-meal">@(Model.Meal)</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <b>Special Requests: </b><br />
                                    <textarea rows="5" id="voucher-promotion" style="width: 100%" placeholder="Special Requests">@Model.Promotion</textarea>
                                    <b>Pick-up and Cancellation Policy: </b><br />
                                    <textarea rows="5" id="voucher-cancellation" style="width: 100%" placeholder="Cancellation">@Model.Cancellation</textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-left">
                                        <b>VINADAY goREISE</b><br>
                                        98A Le Lai street District 1, Ho Chi Minh City Vietnam<br />
                                        Tell: (84-28) -38 388 382<br>
                                        Email: cs@vinaday.com
                                    </div>
                                </div>

                            </div><!--row-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a onclick="saveVoucher();" class="btn btn-primary">Save</a>
                    <a onclick="saveVoucher();" class="btn btn-success"><i class="fa fa-print"></i> Save and Print</a>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.Type == 1)
{
    <div id="voucher-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-transparent">
                        <div class="panel-body" style="border: 2px dashed rgb(176, 176, 176);">
                            <div class="row">
                                <div class="col-md-4" style="padding-left: 0 !important">
                                    <img src="~/assets/images/logo.png" alt="" style="width: 200px; margin-left: 5px;" /><br />
                                </div>
                                <div class="col-md-8 text-right">
                                    <h1 style="margin-top: 0;">Hotel Voucher</h1>
                                    <address>
                                        <i>Please present either an electronic or paper copy of your hotel voucher upon check-in</i>
                                    </address>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address>
                                            Booking No.: <b><span id="voucher-booking-id">@(string.Format("00{0}", Model.BookingId))</span></b><br />
                                            Guest: <b>
                                                <span id="voucher-guest">@Model.Guest</span>
                                            </b><br>
                                            Nationality: <b>
                                                <span id="voucher-nationality">@Model.Nationality</span>
                                            </b><br>
                                            Hotel: <b>
                                                <a href="javascript:void(0);" id="voucher-name">@Model.Name</a>
                                            </b><br />
                                            Address: <b><a href="javascript:void(0);"  id="voucher-localtion">@Model.Localtion</a></b><br />
                                        </address>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <h3 class="text-center" style="margin-top: 0;">
                                        <b>BOOKING DETAIL</b><br><br>
                                    </h3>
                                </div>
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered alert-warning" id="voucher-table" style="margin-bottom: 5px;">
                                        <tbody>
                                            <tr>
                                                <td><b>No. of Rooms: </b><a href="javascript:void(0);" id="voucher-quantity">@(Model.Quantity == 0 ? "" : Model.Quantity.ToString(CultureInfo.InvariantCulture))</a></td>
                                                <td><b>No. of Extra Beds: </b><a href="javascript:void(0);" id="voucher-extra">@(Model.Extra == 0 ? "" : Model.Extra.ToString(CultureInfo.InvariantCulture))</a></td>
                                            </tr>
                                            <tr>
                                                <td><b>No. of Adults: </b><a href="javascript:void(0);" id="voucher-adult">@(Model.Adult == 0 ? "" : Model.Adult.ToString(CultureInfo.InvariantCulture))</a></td>
                                                <td><b>No. of Children: </b><a href="javascript:void(0);" id="voucher-children">@(Model.Children == 0 ? "" : Model.Children.ToString(CultureInfo.InvariantCulture))</a></td>
                                            </tr>
                                            <tr>
                                                <td><b>Room Type: </b><a href="javascript:void(0);" id="voucher-description">@Model.Description</a></td>
                                                <td><b>Meal: </b><a href="javascript:void(0);" id="voucher-meal">@(Model.Meal)</a></td>
                                            </tr>
                                            <tr>
                                                <td><b>Check-in: </b><a href="javascript:void(0);"  id="voucher-check-in">@Model.CheckIn.ToShortDateString()</a></td>
                                                <td><b>Check-out: </b><a href="javascript:void(0);"  id="voucher-check-out">@Model.CheckOut.ToShortDateString()</a></td>
                                            </tr>
                                            @*<tr>
                                                    <td colspan="2">

                                                    </td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                    <b>Special Requests: </b><br />
                                    <textarea rows="5" id="voucher-promotion" style="width: 100%" placeholder="Special Requests">@Model.Promotion</textarea>
                                    <b>Cancellation: </b><br />
                                    <textarea rows="5" id="voucher-cancellation" style="width: 100%" placeholder="Cancellation">@Model.Cancellation</textarea>
                                    @*<p><span id="voucher-cancellation">@Model.Cancellation</span></p>*@
                                </div>
                                <div class="col-md-12">
                                    <div class="text-left">
                                        <b>VINADAY goREISE</b><br>
                                        98A Le Lai street District 1, Ho Chi Minh City Vietnam<br />
                                        Tell: (84-28) -38 388 382<br>
                                        Email: cs@vinaday.com
                                    </div>
                                </div>

                            </div><!--row-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a onclick="saveVoucher();" class="btn btn-primary">Save</a>
                    <a onclick="saveVoucher();" class="btn btn-success"><i class="fa fa-print"></i> Save and Print</a>
                </div>
            </div>
        </div>
    </div>
}