@using Vinaday.Data.Models.Extention
@model PaymentOrderModel2
@{
    ViewBag.Title = "PrintPo2";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    var i = 1;
}

@if (Model.PaymentOrderDetails != null && Model.PaymentOrderDetails.Count > 0)
{
    <div class="panel panel-transparent">
        <div class="panel-body" style="border: 2px dashed rgb(176, 176, 176);">
            <div class="row">
                <div class="col-md-4" style="padding-left: 0 !important">
                    <img src="~/assets/images/logo.png" alt="" style="width: 200px; margin-left: 5px;" /><br />
                </div>
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            Booking No.: <b><span id="voucher-booking-id">@(string.Format("00{0}", Model.PaymentOrder.OrderId))</span></b><br />
                            Issued Date: <b>
                            <span id="voucher-guest">@Model.PaymentOrder.CreatedDate.ToShortDateString()</span>
                            </b><br>
                        </address>
                    </div>

                </div>3
                <div class="col-md-12">
                    <h3 class="text-center" style="margin-top: 0;">
                        <b>PAYMENT ORDER</b><br><br>
                    </h3>
                </div>

                <div class="col-sm-12">


                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Price(VND)</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Amount(VND)</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in Model.PaymentOrderDetails.Where(orderDetail => orderDetail != null))
                                            {
                                    <tr>
                                        <th class="text-center">
                                            <span style="width: 40px">@i</span>
                                        </th>
                                        <th class="text-center">
                                            <span style="width: 350px">@orderDetail.Description</span>
                                        </th>
                                        <th class="text-center">
                                            <span>@String.Format("{0:N0}", orderDetail.Price)</span>
                                        </th>
                                        <th class="text-center">
                                            <span>@orderDetail.Quantity</span>
                                        </th>
                                        <th class="text-center">
                                            <span>@String.Format("{0:N0}", orderDetail.Price * orderDetail.Quantity)</span>
                                        </th>

                                    </tr>
                                                i++;
                                            }
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="text-right">
                @*<div>
                    <h4 class="no-m m-t-md text-success">Total In(VND)</h4>
                    <h1 id="total-in" class="no-m text-success">@String.Format("{0:N0}", Model.PaymentOrder.Income)</h1>
                </div>*@
                <div>
                    <h4 class="no-m m-t-md text-success">Total Out(VND)</h4>
                    <h1 id="total-out" class="no-m text-success">@String.Format("{0:N0}", Model.PaymentOrder.Outcome)</h1>
                </div>
                @*<div>
                    <h4 class="no-m m-t-md text-success">Profit(VND)</h4>
                    <h1 class="no-m text-success"><span id="profit">@String.Format("{0:N0}", Model.PaymentOrder.Profit)</span></h1>
                </div>
                <div>
                    <h4 class="no-m m-t-md text-success">Ratio(%)</h4>
                    <h1 class="no-m text-success"><span id="ratio">@String.Format("{0:N2}", Model.PaymentOrder.Ratio)</span></h1>
                </div>*@
            </div>

            <div class="col-md-6 pull-left" style="margin-left: -15px">
                <div class="text-left">
                    <div>
                        <h4 class="no-m m-t-sm">Approval by</h4>
                        <br>
                        <br>
                        <br>
                        <h2 class="no-m">----------------</h2>
                        <span class="text-left pull-left" style="width: 200px">@(Model.PaymentOrder != null ? Model.PaymentOrder.CreatedBy : "")</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pull-right" style="margin-right: -15px">
                <div class="text-right">
                    <div>
                        <h4 class="no-m m-t-sm">Issued by</h4>
                        <br>
                        <br>
                        <br>
                        <h2 class="no-m">----------------</h2>

                        <span class="text-right pull-right" style="width: 200px">@(Model.PaymentOrder != null ? Model.PaymentOrder.IssueBy : "")</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pull-left" style="margin-left: -15px">
                <br>
                <br>
                <div class="text-left">
                    <b>VINADAY goREISE</b><br>
                    98A Le Lai Street District 1, Ho Chi Minh City Vietnam<br />
                    Tell: (84-28) -38 388 382<br>
                    Email: cs@vinaday.com
                </div>
            </div>
        </div>

    </div><!--row-->


}
